<%- include("partials/header.ejs") %>

    <main>
        <!-- Create a post -->
        <section class="container">
            <h2>Create new blog</h2>
            <form action="/create" method="POST">
                <input type="text" name="title" placeholder="title">
                <textarea name="content" id="" placeholder="content"></textarea>
                <input type="submit" value="Post">
            </form>
        </section>

        <!-- All posts -->
         <section class="container posts-container">
            <!-- <h2>All Blogs</h2> -->

            <% for (let i = 0; i < posts.length; i++) { %>
                <div class="post">
                    <h2 class="post-title"><%= posts[i].title %></h2>
                    <p class="post-content"><%= posts[i].content %></p>

                    <div class="post-btn">
                        <a href="/edit/<%= posts[i].id %>"><button>Edit</button></a>
                        <form action="/delete/<%= posts[i].id %>" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            <% } %>
         </section>
    </main>

<%- include("partials/footer.ejs") %>